body {
    font-family: 'Poppins', sans-serif;
}
#sidebar a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar{
    margin: 87px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    font-weight: 600;
}
#sidebar.active {
    margin-left: -250px;
}

#sidebar ul li a {
    padding: 41px;
    font-size: 1.1em;
    display: block;
}
.content{
    text-align: center;
    overflow: auto;
}
.content p{
    
    text-align: left;
}
